* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}


/* Left content section */
.leftContent {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.left-header {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput{
    width: 250px;
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: white;
}

#searchBtn{
    width: 50px;
    height: 36px;
    color: white;
    background-color: grey;
    border: 1px solid grey;
    font-size: 18px;
    margin-left: -50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#leftHeaderIcon {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftHeaderIcon p {
    color: grey;
    font-size: 35px;
}

.tempDetails {
    width: 100%;
}

.image-icon{
    width: 150px;
    height: 150px;
}

.forecastHeader {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid gray;
}

.forecastHeader p{
    font-size: 24px;
    font-weight: 600;
}

#forecastList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#forecastList li {
    width: 100%;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

.icon-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#forecastList img {
    width: 50px;
}


/* Right content section */
.rightContent {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/images/main-pic.jpg");
    background-position: center;
    background-size: cover;
    color: grey;
}

.topRightContent {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.topRightContent h1 {
    color: white;
    font-size: 60px;
    margin-top: 40px;
}

.topRightContent p {
    color: white;
    font-size: 25px;
}

.bottomRightContent {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: end;
}

.date,.bottomRight {
    width: 50%;
}

.date {
    display: flex;
    flex-direction: column;
    height: 120px;
    gap: 10px;
}

.date p {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.bottomRight {
    display: flex;
    align-items:end;
    justify-content: end;
}

#currentTemp {
    color: white;
    font-size: 100px;
    font-weight: 500;
}